<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name=viewport content="width=device-width, initial-scale=1">
		<title>{{ t_title }}</title>
		<link rel="icon" type="image/png" href="/rs/img/ico.png">
		{% for t_css in l_css %}
		<link rel="stylesheet" type="text/css" href="{{ t_css }}">
		{% endfor %}
		
		{% for t_js in l_js %}
		<script src="{{ t_js }}" defer></script>
		{% endfor %}
	</head>
	<body class="is-grayl">
		<nav class="navbar is-banco" role="navigation" aria-label="main navigation">
			<div class="navbar-brand">
				<a class="navbar-item" href="/">
					<img src="/rs/img/c.png" width="112" height="28">
				</a>
				
				<a class="a navbar-burger">
					<span></span>
					<span></span>
					<span></span>
				</a>
				
			</div>
		</nav>
		<!--///////////////////////////////////////////////////-->
		<div id="vuejs">
		<div class="columns">
			<!--#################################################-->
			<div class="column">
				<br>
			</div>
			<!--#################################################-->
			<div class="column is-two-thirds" id="workflow">
				<div class="columns">
					<div class="column">
						<br>
					</div>
				</div>
				<div class="columns">
					<div class="column">
						<a class="button is-large is-primary" href="/mapa">Mapa en Tiempo Real</a>
						<a class="button is-large is-primary" href="/agregarDispositivo">Agregar Dispositivo a Rastrear</a>
					</div>
				</div>
			</div>
			<div class="column">
				<br>
			</div>
		</div>
		{% raw %}
		{% endraw %}
			<!--///////////////////////////////////////////////////-->
		</div>
	</body>
</html>
