		<nav class="navbar is-banco" role="navigation" aria-label="main navigation">
			<div class="navbar-brand">
				<a class="navbar-item" href="/home">
					<img src="/rs/img/c.png" width="112" height="28">
				</a>
				
				<a class="a navbar-burger">
					<span></span>
					<span></span>
					<span></span>
				</a>
			</div>
			<div id="navbarBasicExample" class="navbar-menu">
				<div class="navbar-start">
					<!--<a class="navbar-item has-text-white" href="/Almacen/menu">
						Men&uacute;
					</a>-->
					<a class="navbar-item has-text-white is-info" href="/{{ l_atras }}">
						<strong>Regresar</strong>
					</a>
				</div>	
			</div>
		</nav>
